*diagramphsp_sb2018.pptx
*readme.txt
*text_badword.txt
*train_sequence_Atype.txt
*train_sequence_Btype.txt
*계획서.txt
*금칙어필터링_계획.txt
*기록.docx
*논문 도입부.docx
*비속어 검출 알고리즘 관련 논문.pdf
*욕설필터링_논문.docx
*졸업논문계획_욕설필터링_이무현.pptx